<p>hobby works!</p>
<div class="container">
    <div class="col-md-6 mt-5 mx-auto">
        <div class="card">
            <form (submit)="saveAdd()" [formGroup]="addressForm">
                <div class="row">
                    <div class="left form-group">
                        <label>Flat/House NO.</label>
                        <input type="text" [class]="form-control">
                    </div>
                    <div class="right form-group">
                        <label>Street</label>
                        <input type="text" [class]="form-control">
                    </div>
                    <div class="left form-group">
                        <label>Colony</label>
                        <input type="text" [class]="form-control">
                    </div>
                    <div class="right form-group">
                        <label>City</label>
                        <input type="text" [class]="form-control">
                    </div>
                    <div class="left form-group">
                        <label>State</label>
                        <input type="text" [class]="form-control">
                    </div>
                    <div class="right form-group">
                        <label>Zip Code</label>
                        <input type="text" [class]="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>